<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Purchase Invoice </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!spinner">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-note> Bill No. </ion-note> <br />
          PINV-{{ this.f.bill_no.value | number:'3.0' }}
        </ion-col>
        <ion-col class="line"> </ion-col>
        <ion-col>
          <ion-note id="hover-trigger"> Date </ion-note> <br />
          {{ this.f.date.value | date:'shortDate' }}
          <ion-popover trigger="hover-trigger" triggerAction="hover">
            <ng-template>
              <ion-content class="ion-padding">
                {{ this.f.date.value | date:'medium' }}
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-grid>
    <form [formGroup]="purchaseInvoiceForm">
      <ion-list class="no-background" lines="none">
        <ion-item class="no-background">
          <ion-input
            type="text"
            label="Party Name"
            labelPlacement="stacked"
            placeholder="Enter Party Name"
            formControlName="party_name"
          ></ion-input>
        </ion-item>

        <ion-item class="no-background">
          <ion-input
            type="number"
            label="Party Phone"
            labelPlacement="stacked"
            placeholder="Enter Party Phone"
            formControlName="party_phone"
          ></ion-input>
        </ion-item>
      </ion-list>

      <ion-accordion-group
        expand="inset"
        [value]="['first']"
        *ngIf="itemsControl.length"
      >
        <ion-accordion value="first" toggleIconSlot="start">
          <ion-item slot="header">
            <ion-label> Billed Items </ion-label>
          </ion-item>
          <div slot="content" formArrayName="items">
            <ion-row *ngFor="let item of itemsControl.controls; let i = index">
              <ion-col>
                <ion-card class="ion-no-margin" (click)="updateItem(item)">
                  <ion-card-header [formGroupName]="i">
                    <ion-card-title>
                      {{ item.value.name }}
                      <ion-text class="ion-float-right">
                        ₹ {{ item.value.rate * item.value.quantity }}
                      </ion-text>
                    </ion-card-title>
                    <ion-card-subtitle>
                      Item Subtotal
                      <ion-text class="ion-float-right">
                        {{ item.value.rate }} x {{ item.value.quantity }} = ₹ {{
                        item.value.total }}
                      </ion-text>
                    </ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
          </div>
        </ion-accordion>
      </ion-accordion-group>

      <ion-row *ngIf="!this.uuid">
        <ion-col>
          <ion-button (click)="updateItem()" expand="block">
            <ion-icon slot="start" name="add-circle-outline"></ion-icon>
            Add Item
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="itemsControl.length">
        <ion-col>
          <ion-item>
            <ion-label>
              <h2>
                Total Amount
                <ion-text class="ion-float-right">
                  ₹ {{ this.f.total.value }}
                </ion-text>
              </h2>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-textarea
              label="Notes"
              labelPlacement="stacked"
              placeholder="Add Notes"
              formControlName="notes"
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="!spinner">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="cancel-button ion-padding"> Cancel </ion-col>
      <ion-col (click)="saveInvoice()" class="save-button ion-padding">
        Save
      </ion-col>
      <!-- <ion-col class="share-button ion-padding" (click)="whatsappShare()">
        Share
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-footer>

<ion-content *ngIf="spinner">
  <ion-spinner name="lines-sharp" color="primary"></ion-spinner>
</ion-content>
