<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>
      <ion-searchbar
        animated
        placeholder="Search Customers"
        type="text"
        (ionChange)="onSearchChange($event)"
        [debounce]="100"
      ></ion-searchbar>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/add-customer']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!spinner">
  <ion-list lines="none">
    <ion-item
      *ngFor="let customer of filteredList"
      [routerLink]="['/customer',customer.uuid]"
    >
      <ion-avatar slot="start">
        <div class="text-avatar">{{ customer.name[0].toUpperCase() }}</div>
      </ion-avatar>
      <ion-label> {{customer.name}} </ion-label>
    </ion-item>

    <ion-item *ngIf="!filteredList.length">
      <ion-label>No results</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="spinner">
  <ion-spinner name="lines-sharp" color="primary"></ion-spinner>
</ion-content>
