<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Add Items </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="itemForm">
    <ion-list>
      <ion-item>
        <ion-input
          labelPlacement="stacked"
          label="Item Name"
          formControlName="name"
          placeholder="e.g. Buttons"
          id="click-trigger"
          (ionFocus)="showList = true"
        ></ion-input>
      </ion-item>
      <ion-list *ngIf="showList">
        <ion-item
          *ngFor="let item of filteredItemList | async"
          (click)="selectItem(item)"
        >
          <ion-label> {{ item.name }} </ion-label>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-input
          type="number"
          labelPlacement="stacked"
          label="Quantity"
          formControlName="quantity"
          placeholder="Quantity"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-select
          labelPlacement="stacked"
          label="Unit"
          formControlName="unit"
          placeholder="Unit"
          interface="popover"
        >
          <ion-select-option *ngFor="let unit of units" [value]="unit">
            {{ unit }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input
          type="number"
          labelPlacement="stacked"
          label="Rate"
          formControlName="rate"
          placeholder="Rate"
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-item
      class="ion-margin-top"
      *ngIf="this.f.quantity.value && this.f.rate.value"
    >
      <ion-label>
        <h2>
          Total Amount
          <ion-text class="ion-float-right">
            ₹ {{ calculateTotal() }}
          </ion-text>
        </h2>
      </ion-label>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar color="none">
    <ion-item
      button
      color="success"
      class="ion-text-center"
      (click)="confirm()"
      [disabled]="itemForm.invalid"
    >
      <ion-label> Save </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-footer>
