<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="customer.uuid">Edit Customer</ion-title>
    <ion-title *ngIf="!customer.uuid">Add Customer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!spinner">
  <form [formGroup]="customerForm">
    <ion-list lines="none">
      <ion-item>
        <ion-input
          label="Name"
          labelPlacement="floating"
          formControlName="name"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Phone"
          labelPlacement="floating"
          formControlName="phone"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Email"
          labelPlacement="floating"
          formControlName="email"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea
          label="Address"
          labelPlacement="floating"
          formControlName="address"
          autoGrow="true"
        >
        </ion-textarea>
      </ion-item>
    </ion-list>
  </form>

  <ion-button
    [disabled]="customerForm.invalid"
    (click)="addCustomer()"
    expand="block"
    *ngIf="!customer.uuid"
  >
    Add Customer
  </ion-button>

  <ion-button
    [disabled]="customerForm.invalid"
    expand="block"
    *ngIf="customer.uuid"
    (click)="updateCustomer()"
  >
    Update Customer
  </ion-button>
</ion-content>

<ion-content *ngIf="spinner">
  <ion-spinner name="lines-sharp" color="primary"></ion-spinner>
</ion-content>
