<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title> Purchase Invoices </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/add-purchase-invoice']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!spinner">
  <ion-list lines="none">
    <ion-item
      *ngFor="let invoice of invoices"
      [routerLink]="['/add-purchase-invoice',invoice.uuid]"
    >
      <ion-label> {{ invoice.name }} </ion-label>
      <ion-label> {{ invoice.amount }} </ion-label>
    </ion-item>

    <ion-item *ngIf="!invoices.length">
      <ion-label> No results </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
