<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Update Measurements </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!spinner">
  <form [formGroup]="measurementForm">
    <ion-list formArrayName="measurement" *ngIf="measurements.controls.length">
      <ion-item-sliding *ngFor="let m of measurements.controls; let i = index">
        <ion-item [formGroupName]="i">
          <ion-input
            type="text"
            placeholder="Body Part"
            formControlName="title"
          ></ion-input>

          <ion-input
            type="number"
            class="ion-text-right"
            placeholder="Value"
            formControlName="value"
          ></ion-input>
        </ion-item>

        <ion-item-options>
          <ion-item-option color="danger">
            <ion-button (click)="removeMeasurement(i,m.value)" fill="clear">
              <ion-icon slot="icon-only" name="remove" color="dark"></ion-icon>
            </ion-button>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </form>
  <ion-button (click)="addMeasurement()" expand="block" fill="clear">
    Add
  </ion-button>

  <ion-button
    [disabled]="measurementForm.invalid"
    (click)="updateMeasurements()"
    expand="block"
    *ngIf="!measurements.length"
  >
    Update Measurements
  </ion-button>
</ion-content>

<ion-content *ngIf="spinner">
  <ion-spinner name="lines-sharp" color="primary"></ion-spinner>
</ion-content>
