<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Login </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-input
        required
        label="E-Mail"
        labelPlacement="floating"
        formControlName="email"
        type="text"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        required
        label="Password"
        labelPlacement="floating"
        formControlName="password"
        type="text"
      ></ion-input>
    </ion-item>
    <ion-button
      expand="block"
      color="primary"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Login
    </ion-button>
  </form>
  <ion-text class="ion-text-center">
    Don't have an account?
    <ion-text [routerLink]="['/register']" color="primary"> Register </ion-text>
  </ion-text>
</ion-content>
