<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Register </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <ion-item>
      <ion-input
        required
        label="E-Mail"
        labelPlacement="floating"
        formControlName="email"
        type="text"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        required
        label="Password"
        labelPlacement="floating"
        formControlName="password"
        type="text"
      ></ion-input>
    </ion-item>

    <ion-button
      expand="block"
      color="primary"
      type="submit"
      [disabled]="registerForm.invalid"
    >
      Register
    </ion-button>
  </form>
  <ion-text class="ion-text-center">
    Already Have an account?
    <ion-text [routerLink]="['/login']" color="primary">Login</ion-text>
  </ion-text>
</ion-content>
