.line {
  max-width: 5px;
  border-left: 1px solid var(--ion-color-step-350);
  margin: 8px 0;
}

ion-accordion-group {
  margin: 5px;
}

.edit-button {
  background-color: var(--ion-color-primary);
  text-align: center;
  font-weight: 700;
}

.save-button {
  background-color: var(--ion-color-success);
  text-align: center;
  font-weight: 700;
}

.cancel-button {
  background-color: var(--ion-color-danger);
  text-align: center;
  font-weight: 700;
}

// .share-button {
//   background-color: var(--ion-color-success);
//   text-align: center;
//   font-weight: 700;
// }
