<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> Purchase Invoice </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!spinner">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-note> Bill No. </ion-note> <br />
          {{ purchase_invoice.name }}
        </ion-col>
        <ion-col class="line"> </ion-col>
        <ion-col>
          <ion-note> Date </ion-note> <br />
          {{ purchase_invoice.created_at | date:'shortDate' }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-grid>
    <ion-list class="no-background" lines="none">
      <ion-item class="no-background">
        <ion-input
          type="text"
          label="Name"
          labelPlacement="stacked"
          placeholder="Enter Name"
          [(ngModel)]="purchase_invoice.party_name"
        ></ion-input>
      </ion-item>

      <ion-item class="no-background">
        <ion-input
          type="number"
          label="Phone"
          labelPlacement="stacked"
          placeholder="Enter Phone"
          [(ngModel)]="purchase_invoice.party_phone"
        ></ion-input>
      </ion-item>
    </ion-list>

    <ion-accordion-group
      expand="inset"
      [value]="['first']"
      *ngIf="purchase_invoice.items.length"
    >
      <ion-accordion value="first" toggleIconSlot="start">
        <ion-item slot="header">
          <ion-label> Billed Items </ion-label>
        </ion-item>
        <div slot="content">
          <ion-row *ngFor="let item of purchase_invoice.items">
            <ion-col>
              <ion-card class="ion-no-margin" (click)="editItem()">
                <ion-card-header>
                  <ion-card-title>
                    {{ item.name }}
                    <ion-text class="ion-float-right">
                      ₹ {{ item.rate * item.quantity }}
                    </ion-text>
                  </ion-card-title>
                  <ion-card-subtitle>
                    Item Subtotal
                    <ion-text class="ion-float-right">
                      {{ item.rate }} x {{ item.quantity }} = ₹ {{ item.rate *
                      item.quantity }}
                    </ion-text>
                  </ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
        </div>
      </ion-accordion>
    </ion-accordion-group>

    <ion-row *ngIf="edit">
      <ion-col>
        <ion-button (click)="addItem()" expand="block">
          <ion-icon slot="start" name="add-circle-outline"></ion-icon>
          Add Items
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            <h2>
              Total Amount
              <ion-text class="ion-float-right">
                ₹ {{ calculateTotal() }}
              </ion-text>
            </h2>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-textarea
            label="Notes"
            labelPlacement="stacked"
            placeholder="Add Notes"
            [(ngModel)]="purchase_invoice.notes"
            [readonly]="!edit"
          ></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="!spinner">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col
        (click)="edit=true"
        class="edit-button ion-padding"
        *ngIf="!edit"
      >
        Edit
      </ion-col>
      <ion-col
        (click)="edit=false"
        class="cancel-button ion-padding"
        *ngIf="edit"
      >
        Cancel
      </ion-col>
      <ion-col
        (click)="updateInvoice()"
        class="save-button ion-padding"
        *ngIf="edit"
      >
        Save
      </ion-col>
      <!-- <ion-col class="share-button ion-padding" (click)="whatsappShare()">
        Share
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-footer>

<ion-content *ngIf="spinner">
  <ion-spinner name="lines-sharp" color="primary"></ion-spinner>
</ion-content>
