<ion-header class="ion-no-border">
  <ion-toolbar *ngIf="customer.uuid">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title> {{ customer.name }} </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/edit-customer',customer.uuid]">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="confirmDeleteCustomer()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!spinner">
  <ion-list lines="none">
    <ion-item>
      <ion-label>
        <b> Phone: </b>
        {{ customer.phone }}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <b> Email: </b>
        {{ customer.email }}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <b> Address: </b>
        {{ customer.address }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button [routerLink]="['orders']" expand="block"> Orders </ion-button>
  <ion-button [routerLink]="['list-measurement']" expand="block">
    Measurements
  </ion-button>
</ion-content>

<ion-content *ngIf="spinner">
  <ion-spinner name="lines-sharp" color="primary"></ion-spinner>
</ion-content>
