<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> DESIGNER DYNASTY </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="!spinner">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="ion-no-margin" [routerLink]="['/list-customers']">
          <ion-card-header class="ion-text-center">
            <ion-card-title>Customers</ion-card-title>
            <ion-card-subtitle>{{ customerCount }}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card
          class="ion-no-margin"
          [routerLink]="['/list-purchase-invoice']"
        >
          <ion-card-header class="ion-text-center">
            <ion-card-title> Purchase Invoice </ion-card-title>
            <ion-card-subtitle> {{ purchaseInvoiceCount }} </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="ion-no-margin" [routerLink]="['/list-items']">
          <ion-card-header class="ion-text-center">
            <ion-card-title> Items </ion-card-title>
            <ion-card-subtitle> {{ itemCount }} </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="ion-no-margin" [routerLink]="['/profile']">
          <ion-card-header class="ion-text-center">
            <ion-card-title>Profile</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class="ion-no-margin" [routerLink]="['/settings']">
          <ion-card-header class="ion-text-center">
            <ion-card-title>Settings</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="logout()" expand="block" color="danger">
          Logout
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="spinner">
  <ion-spinner name="lines-sharp" color="primary"></ion-spinner>
</ion-content>
