<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title> Measurements </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/customer',customerUuid,'add-measurement']">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!spinner">
  <ion-list lines="none" *ngIf="measurement.length">
    <ion-item *ngFor="let m of measurement">
      <ion-label> {{ m.key }} </ion-label>
      <ion-label slot="end"> {{ m.value }} </ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none" *ngIf="!measurement.length">
    <ion-item>
      <ion-label>No measurements found</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="spinner">
  <ion-spinner name="lines-sharp" color="primary"></ion-spinner>
</ion-content>
